@mixin section_h2($color:$color_secondary) {
  color: $color;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  margin: 0 0;
}
@mixin section_h3($color:$color_secondary) {
  color: $color;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.2;
}

div,h1,h2,h3,h4,h5,h6,p,li,a,span,strong {
  overflow-wrap: normal;
  word-wrap: normal;
  -ms-word-break: normal;
  word-break: normal;
  word-break: normal;
  -ms-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
  page-break-inside: avoid;
}
html, body, *, :before, :after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
pre {
  font-family: $font_pre;
  font-size: 13px;
  line-height: 1.3;
  color: #000;
  display: block;
  position: relative;
  z-index: 1000;
  border: 1px solid #FFF;
  margin: 5vw;
  padding: 20px;
}
body {
  font-family: $font_primary;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
  color: $color_text_main;
  &.subpage.no-banner {
    padding-top: 100px;
  }
}
.clear:before, .clear:after {
  content: " ";
  display: table;
}
.clear:after {
  clear: both;
}
a,input,button,textarea {
  transition: all ease .3s;
}
h1,h2,h3,h4,h5,h6 {
  font-family: $font_primary;
  color: #000;
  letter-spacing: 0.02em;
}
h1 {font-size: 50px};
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 18px; }
h5 { font-size: 16px; }
h6 { font-size: 13px; }

.sr:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}
.skip-link {
  text-decoration: none;
  position: absolute;
  top: -100px;
  left: 10px;
  color: #000;
  background: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,.35);
  transition: all ease .3s;
}
.skip-link:focus,
.skip-link:active {
  position: fixed;
  z-index: 200;
  top: 10px
}

.btn-default {
  display: inline-block;
  text-decoration: none;
  appearance: none;
  border: 2px solid $color_primary;
  border-radius: 300px;
  padding: 0.6em 1.5em;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  color: $color_primary;
  transition: all ease .4s;
  background-color: #FFF;
  position: relative;
  overflow: hidden;
  z-index: 2;
  &:after {
    content:"";
    display: block;
    width: 150%;
    height: 150%;
    position: absolute;
    top: 0;
    left: -30vw;
    opacity: 0;
    background: $color_primary;
    z-index: -1;
    transform: scale(1.5) skewX(-15deg);
    transition: all ease .6s;
  }
  &:hover, &:focus {
    color: #FFF;
    background: $color_primary;
    // &:after {
    //   left: 0;
    //   opacity: 1;
    // }
  }
  &:focus {
    outline: 1px dotted $color_primary;
  }
}

.wrapper {
  max-width: $wrapper;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.site {
  position: relative;
  overflow: hidden;
}

.site-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  .header-top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    background: $color_primary;
    color: #FFF;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    z-index: 15;
    min-height: 50px;
    @include tab {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .header-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    .secondaryNav {
      color: #FFF;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 1.2em;
      position: relative;
      padding-right: 50px;
      a, button {
        appearance: none;
        border: none;
        color: #FFF;
        display: inline-block;
        text-decoration: none;
        font-size: 16px;
        line-height: 1.2;
        padding: 15px 5px;
        &:focus {
          outline: 1px dotted #FFF;
        }
      }
      a {
        &:hover, &:focus {
          color: $color_orange;
        }
      }
      span {
        padding: 0 2px;
      }
    }
    .searchBtn {
      width: 40px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      appearance: none;
      background-color: transparent;
      i {
        display: inline-block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        font-size: 20px;
      }
      svg {
        display: inline-block;
        width: 80%;
        height: 80%;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        g {
          stroke: #FFF!important;
        }
      }
      &[aria-expanded="true"] {
        background-color: $color_secondary;
        i[class*="fa"]:before {
          content:"\f057";
          font-weight: 400;
        }
      }
      .search-icon {
        display: inline-block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image:url('images/icons/search.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 80%;
      }
      &:hover, &:focus {
        svg g {
          stroke: $color_orange!important;
        }
      }
      &:focus {
        outline: none!important;
      }
    }
  }

  .header-inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 20px;
    position: relative;
    @include tab {
      padding-left: 5vw;
      padding-right: 5vw;
    }
    .site-logo {
      display: inline-block;
      position: relative;
      z-index: 10;
      a {
        display: inline-block;
      }
      img {
        width: 300px;
        height: auto;
      }
    }
  }

  .primary-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  .main-navigation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    .submenu-toggle {
      display: none;
    }
    ul.menu {
      margin: 0 0;
      padding: 0 0;
      list-style: none;
    }
    ul.menu li {
      position: relative;
    }
    ul.menu ul {
      position: absolute;
      margin: 0 0;
      padding: 0 0;
      list-style: none;
      min-width: 220px;
      white-space: nowrap;
      background: #FFF;
      border-radius: 10px;
      padding: 15px;
      opacity: 0;
      pointer-events: none;
      box-shadow: 0 8px 20px rgba(0,0,0,.5);
      &:before {
        content:"";
        display: inline-block;
        width: 0;
        height: 0;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #FFF;
        position: absolute;
        top: -7px;
        left: 50px;
      }
      li {
        margin: 2px 0;
      }
      a {
        font-size: 16px;
        line-height: 1.3;
        display: block;
        padding: 5px 2px;
        color: $color_primary;
        transition: all ease .3s;
        &:hover, &:focus {
          color: $color_orange;
          transform: translateX(2px);
        }
      }
    }
    .submenu-wrapper {
      position: absolute;
      padding-top: 13px;
      transform: translateY(15px);
      transition: opacity ease .3s, transform ease .5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: -999;
    }

    ul.menu > li.menu-item-has-children:has(.submenu-wrapper) ul {
      position: relative!important;
    }

    ul.menu > li.menu-item-has-children:hover,
    ul.menu > li.menu-item-has-children:focus-within {
      .submenu-wrapper {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        z-index: 10;
        ul {
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
    ul.menu > li.menu-item-has-children.last:hover,
    ul.menu > li.menu-item-has-children.last:focus-within {
      .submenu-wrapper {
        right: 0;
        ul:before {
          left: unset;
          right: 50px;
        }
      }
    }
    
    a {
      display: inline-block;
      text-decoration: none;
    }
    .menu-main-container {
      background: rgba(0, 24, 20, .08);
      border: 1px solid #FFF;
      border-radius: 80px;
    }
    .menu-main-container > ul.menu {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: flex-end;
      border-radius: 80px;
      margin: 0 -3px;
    }
    ul.menu > li {
      margin: 0 2px;
    }
    ul.menu > li > a {
      font-size: 20px;
      line-height: 1.2;
      color: #FFF;
      padding: 14px 27px;
      display: inline-block;
      position: relative;
      span {
        display: inline-block;
        position: relative;
        z-index: 5;
      }
      i {
        display: inline-block;
        width: 100%;
        height: 100%;
        transition: all ease .3s;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 500px;
        box-shadow: 1px 0 1px rgba(255,255,255,1) inset;
        background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(193,209,210,1) 100%);
        opacity: 0;
        transition: all ease-in-out .5s;
      }
    }

    ul.menu > li:not(.current_page_item):hover > a,
    ul.menu > li:not(.current_page_item):focus-within > a {
      // color: $color_primary;
      background: rgba(0, 0, 0, .2);
      border-radius: 500px;
      // i {
      //   background: rgba(0, 0, 0, .2);
      //   box-shadow: none;
      //   opacity: 1;
      // }
    }

    ul.menu > li.current_page_item > a {
      color: $color_primary;
      i {
        opacity: 1;
        box-shadow: 0 1px 15px rgba(0,0,0,.35);
      }
    }
  }
}

.header-search-form {
  position: absolute;
  top: 0;
  right: 5vw;
  max-width: 400px;
  width: 100%;
  background: $color_secondary;
  padding: 30px;
  z-index: 100;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, .25);
  display: none;
  form {
    position: relative;
    width: 100%;
  }
  .search-input input {
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 200px;
    height: 45px;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: 500;
    color: $color_primary;
    transition: all ease .3s;
    &:focus {
      outline: 0;
      box-shadow: 0 0 0 .25rem rgba($color_primary, .25);
    }
  }
}

.hero {
  position: relative;
  overflow: hidden;
  height: 820px;
  margin-top: 45px;
  .slideCaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 20;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 1251px) {
      padding-left: 6vw;
      padding-right: 6vw;
    }
    .inside {
      max-width: 960px;
      width: 100%;
      transform: translateY(2vw);
    }
    .title {
      font-size: 60px;
      font-weight: 600;
      line-height: 1.2;
      color: #FFF;
      margin: 0 0 20px;
    }
    .text {
      font-size: 30px;
      font-weight: 500;
      line-height: 1.3;
      color: #FFF;
    }
    .slideButton {
      margin-top: 50px;
    }
    .button {
      display: inline-block;
      text-decoration: none;
      padding: 10px 40px;
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0.02em;
      color: #FFF;
      box-shadow: 0 0 15px rgba(0,0,0,.15);
      border-radius: 200px;
      // background: linear-gradient(to right,  rgba(247,120,34,1) 0%,rgba(234,88,49,1) 100%);
      background-color: $color_orange;
      overflow: hidden;
      position: relative;
      &:after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // background: linear-gradient(-45deg, #f7a522, #e5562d, #e5562d, #f78f22);
        background: linear-gradient(-45deg, #21e37b, #0d847f, #e5562d, #f78f22);
        background-size: 400% 400%;
        background-position: 0% 50%;
        transition: all ease-in-out .3s;
      }
      span {
        display: inline-block;
        position: relative;
        z-index: 5;
      }
      &:hover {
        box-shadow: 5px 10px 20px rgba(0,0,0,.35);
        &:after {
          background-position: 100% 50%;
        }
      }
    }
  }

  //STATIC HERO
  .static-hero {
    height: 100%;
    position: relative;
    figure {
      margin: 0 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      overflow: hidden;
      &:before {
        content:"";
        display: block;
        position: absolute;
        top: 0;
        left: -1vw;
        width: 60vw;
        height: 100%;
        z-index: 10;
        background: linear-gradient(to right,  rgba(25,30,81,1) 0%,rgba(20,56,92,0.95) 22%,rgba(2,134,115,0.64) 51%,rgba(162,214,207,0.3) 100%);
        filter: blur(10px);
        transform: scale(1.2);
        z-index: 2;
      }
      &:after {
        content:"";
        display: block;
        position: absolute;
        top: -2vw;
        right: -1vw;
        width: 50%;
        height: 10vw;
        z-index: 10;
        pointer-events: none;
        background: linear-gradient(to bottom,  rgba(25,30,81,1) 0%,rgba(20,56,92,0.86) 20%,rgba(2,134,115,0.64) 51%,rgba(162,214,207,0.3) 100%);
        filter: blur(50px);
        transform: scale(1.8);
      }
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  //SLIDESHOW
  .slideshow {
    height: 100%;
    .swiper-container,
    .swiper-wrapper,
    .swiper-slide,
    .slideImage {
      height: 100%;
    }

    .swiper-slide {
      position: relative;
      .slideImage {
        margin: 0 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &:before {
          content:"";
          display: block;
          position: absolute;
          top: 0;
          left: -1vw;
          width: 60vw;
          height: 100%;
          z-index: 10;
          background: linear-gradient(to right,  rgba(25,30,81,1) 0%,rgba(20,56,92,0.95) 22%,rgba(2,134,115,0.64) 51%,rgba(162,214,207,0.3) 100%);
          filter: blur(10px);
          transform: scale(1.2);
          z-index: 2;
        }
        &:after {
          content:"";
          display: block;
          position: absolute;
          top: -2vw;
          right: -1vw;
          width: 50%;
          height: 10vw;
          z-index: 10;
          pointer-events: none;
          background: linear-gradient(to bottom,  rgba(25,30,81,1) 0%,rgba(20,56,92,0.86) 20%,rgba(2,134,115,0.64) 51%,rgba(162,214,207,0.3) 100%);
          filter: blur(50px);
          transform: scale(1.8);
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      color: #FFF;
      display: none;
      &:after {
        transform: scale(0.6);
      }
    }
    .swiper-button-prev {
      left: 20px;
    }
    .swiper-button-next {
      right: 20px;
    }
    .swiper-pagination {
      bottom: 5vw;
      .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        opacity: 1;
        background: #FFF;
        margin: 5px;
        &.swiper-pagination-bullet-active {
          background: $color_orange;
          transform: scale(1.3);
        }
      }
    }
  }
}

.hero-internal {
  background-color: $color_primary;
  position: relative;
  height: 430px;
  overflow: hidden;
  .hero-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 20;
    .inner {
      max-width: $wrapper;
      width: 100%;
      margin: 0 auto;
      padding:0 30px;
      text-align: center;
    }
    h1 {
      color: #FFF;
      font-size: 4rem;
      font-weight: 600;
      line-height: 1.2;
      margin: 0 0;
    }
  }
  .hero-image {
    margin: 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      content:"";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $color_primary;
      opacity: 0.85;
      z-index: 2;
    }
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
}

.infoCards {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
  @include mid {
    margin-left: -30px;
    margin-right: -30px;
  }
  .infoCard {
    width: 100%;
    padding: 20px;
    @include tab {
      width: 33.333%;
    }
    @include mid {
      padding-left: 35px;
      padding-right: 35px;
    }
    .inside {
      background: #FFF;
      border-radius: 10px;
      box-shadow: 0 15px 25px rgba(0,0,0,.25);
      padding: 20px;
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      align-content: space-between;
      @include mid {
        padding-top: 40px;
        padding-bottom: 40px;
      }
      @include tab {
        padding: 30px;
      }
      .textwrap {
        width: 100%;
      }
    }
  }
  .infoIcon {
    margin-bottom: 10px;
    span {
      display: inline-block;
      width: 65px;
      height: 65px;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .infoTitle {
    @include section_h3($color_secondary);
    margin-bottom: 10px;
  }
  .infoText {
    color: $color_primary;
    font-size: 16px;
    line-height: 1.3;
  }
  .infoButton {
    margin-top: 30px;
  }
}

.ctas-section {
  position: relative;
  z-index: 50;
  overflow: visible;
  background-color: $color_secondary;
  &:after {
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('images/pattern.png');
    background-size: contain;
    background-repeat: repeat-x;
    background-position: top center;
    opacity: 0.08;
  }
  .wrapper {
    max-width: 85vw;
    position: relative;
    z-index: 20;
  }
  .infoCards {
    transform: translateY(-15vw);
    @include tab {
      transform: translateY(-3.5vw);
    }
  }
}

.row3-section {
  background: $color_primary;
  color: #FFF;
  overflow: hidden;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  min-height: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &:after {
    content:"";
    display: block;
    width: 100vw;
    height: 100%;
    position: absolute;
    top: 0;
    right: -43vw;
    background-image: url('images/pattern.png');
    background-position: bottom right;
    background-size: 85%;
    background-repeat: no-repeat;
    opacity: 0.03;
  }
  .wrapper {
    position: relative;
    z-index: 20;
  }
  .intro {
    text-align: center;
    position: relative;
    z-index: 10;
    margin-bottom: 60px;
    h2 {
      @include section_h2();
    }
    p {
      font-size: 1.35rem;
      line-height: 1.4;
      margin-top: 0;
    }
  }

  .infoCards {
    margin-left: -8px;
    margin-right: -8px;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
    .infoCard {
      width: 100%;
      padding: 8px;
      @include tab {
        width: 33.33%;
      }
      @include xl {
        width: 20%;
      }
      .inside {
        padding: 20px 15px;
        color: $color_primary;
        transition: transform ease .3s;
        // &:hover {
        //   box-shadow: 0 0 30px rgba(0,0,0,.35);
        //   transform: scale(1.15);
        // }
      }
      .textwrap {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: space-between;
        height: 100%;
      }
      .infoTitle {
        font-size: 22px;
        margin-bottom: 15px;
      }
      .infoText {
        margin-bottom: 40px;
      }
      .infoBottom {
        font-size: 23px;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: $color_primary;
        width: 100%;
      }
    }
  }
}

.section-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -30px;
  margin-right: -30px;
  .infoCol {
    width: 100%;
    padding: 30px;
    text-align: center;
    @include tab {
      width: 33.333%;
    }
  }
  .infoIcon {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    span {
      display: inline-block;
      width: 70px;
      height: 70px;
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  .infoTitle {
    @include section_h3($color_primary);
    margin-bottom: 25px;
    span {
      border-bottom: 2px solid $color_secondary;
    }
  }
  .infoText {
    margin-bottom: 30px;
  }
}

.row4-section {
  padding-top: 50px;
  padding-bottom: 50px;
  @include tab {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .wrapper {
    @include tab {
      width: 80%;
    }
  }
  .section-columns {
    margin-top: 50px;
  }
  .title-block {
    text-align: center;
  }
  .section-title {
    @include section_h2();
  }
}

/* Internal Page Styles */
body:not(.home) {
  .site-header {
    background-color: $color_secondary;
    position: relative;
  }
  #primary {
    min-height: 30em;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  h1.page-title {
    margin-top: 0;
  }
}

.site-footer {
  .wrapper {
    padding-left: 25px;
    padding-right: 25px;
  }
  .footerTop {
    background: #009C8910;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .foot-title,
  .social-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.03em;
    color: $color_primary;
    margin-bottom: 15px;
  }
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    @include tab {
      margin-bottom: 10px;
    }
    .foot-contact-info {
      width: 100%;
      margin-bottom: 20px;
      @include tab {
        width: 60%;
      }
      .social-media-links {
        margin-top: 50px;
      }
    }
    .foot-contact-map {
      width: 100%;
      .social-media-links {
        margin-top: 50px;
      }
      @include tab {
        width: 40%;
      }
      .mapframe {
        width: 100%;
        padding-bottom: 50%;
        position: relative;
        overflow: hidden;
      }
      iframe {
        border: none;
        width: 100%!important;
        height: 100%!important;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
      }
    }
  }
  .foot-info {
    .info {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin:13px 0;
      font-weight: 500;
      position: relative;
      padding-left: 25px;
      [class*="fa"] {
        display: inline-block;
        position: absolute;
        top: 4px;
        left: 0;
      }
      a {
        display: inline-block;
        text-decoration: none;
        color: $color_primary;
        transition: all ease .3s;
        position: relative;
        &:after {
          content:"";
          display: block;
          width: 100%;
          height: 2px;
          background: $color_secondary;
          position: absolute;
          left: 0;
          bottom: 0;
          transform: scaleX(0);
          transition: all ease .3s;
        }
        &:hover, &:focus {
          color: $color_secondary;
          &:after {
            transform: scaleX(1);
          }
        }
        &:focus {
          outline: none;
        }
      }
      i {
        color: $color_secondary;
        margin-right: 6px;
      }
    }
  }

  .copyright-section {
    background: $color_primary;
    color: #FFF;
    padding-top: 25px;
    padding-bottom: 25px;
    .flexwrap {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    p {
      margin: 0 0;
      font-size: 13px;
      line-height: 1.3;
    }
    .copyright {
      font-size: 13px;
      line-height: 1.3;
    }
    a {
      color: #FFF;
      text-decoration: underline;
      &:hover, &:focus {
        color: $color_secondary;
      }
    }

    &.has-footer-logos {
      .copyright {
        width: 60%;
      }
      .footer-logo {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        figure {
          margin: 0 0;
          width: 180px;
          img {
            width: 100%;
            height: auto;
          }
        }
      } 
    }
  }
}

.social-media-links {
  display: flex;
  flex-wrap: wrap;
  .social-title {
    width: 100%;
  }
  .social-links {
    display: flex;
    gap: .75em;
  }
  a {
    text-decoration: none;
    display: inline-block;
    width: 30px;
    height: 30px;
    background: $color_secondary;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    transition: all ease .3s;
    &:hover, &:focus {
      background: $color_primary;
      transform: translateY(-2px);
    }
    &:focus {
      outline: 1px dotted $color_primary;
    }
  }
}

.MobileNavigationOverlay,
.MobileNavigation,
.mobile-buttons {
  display: none;
}
@media screen and (max-width: 1024px) {
  .site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    height: 70px;
    background-color: $color_primary;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .header-top,
    .primary-navigation {
      display: none;
    }
    .header-inner {
      padding: 0 0;
      width: 100%;
      .site-logo {
        display: inline-flex;
        align-items: center;
        a {
          display: inline-flex;
          align-items: center;
        }
        img {
          width: 200px;
        }
      }
    }

    .header-search-form {
      top: 70px;
      right: unset;
      left: 50%;
      max-width: 100%;
      transform: translateX(-50%);
    }

    .mobile-buttons {
      display: inline-flex;
      gap: 1em;
      .searchBtn {
        display: inline-block;
        appearance: none;
        width: 50px;
        height: 70px;
        padding: 0 0;
        border: none;
        background-color: transparent;
        color: #FFF;
        font-size: 25px;
        &[aria-expanded="true"] {
          background-color: $color_secondary;
          i[class*="fa"]:before {
            content:"\f057";
            font-weight: 400;
          }
        }
      }
    }

    .mobile-toggle {
      appearance: none;
      display: block;
      width: 40px;
      height: 70px;
      background: transparent;
      appearance: none;
      border: none;
      span.bar,
      span.bar:before,
      span.bar:after {
        display: block;
        background-color: #FFF;
        transition: all ease .3;
      }
      span.bar {
        position: relative;
        width: 100%;
        height: 3px;
        &:before, &:after {
          content:"";
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
        }
        &:before {
          top: -10px;
        }
        &:after {
          top: 10px;
        }
      }
    }
  }

  .MobileNavigation {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 380px;
    width: 100%;
    height: 100vh;
    background: $color_primary;
    z-index: 10005;
    box-shadow: -20px 0 30px rgba(0,0,0,.15);
    .searchBtn {
      display: none;
    }

    .mobile-home {
      display: inline-block;
      text-decoration: none;
      position: absolute;
      top: 18px;
      left: 25px;
      display: block;
      width: 40px;
      height: 40px;
      &:before {
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        // background-image: url('images/icons/home.svg');
        background-image: url('images/home.png');
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
    .mobileNavClose {
      position: absolute;
      top: 15px;
      right: 20px;
      display: block;
      width: 40px;
      height: 40px;
      padding: 0 0;
      background-color: transparent;
      appearance: none;
      border: none;
      &:before, &:after {
        content:"";
        display: block;
        width: 85%;
        height: 3px;
        background-color: $color_primary;
        position: absolute;
        top: 50%;
        left: 50%;
      }
      &:before {
        transform: translateX(-50%) translateY(-50%) rotate(45deg);
      }
      &:after {
        transform: translateX(-50%) translateY(-50%) rotate(-45deg);
      }
    }

    .mobileNavContent {
    }

    .main-navigation {
      padding-bottom: 20px;
      padding-top: 65px;
      background-color: #FFF;
      ul {
        margin: 0 0;
        padding: 20px;
        list-style: none;
      }
      ul.menu > li {
        margin: 15px 0;
        position: relative;
      }
      ul.menu > li > a {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        min-height: 45px;
        text-decoration: none;
        text-align: center;
        padding: 8px 25px;
        border: 1px solid $color_primary;
        border-radius: 200px;
        background-color: #FFF;
        font-size: 18px;
        font-weight: 500;
        line-height: 1.3;
        letter-spacing: 0.02em;
        color: $color_primary;
        &:hover, &:focus {
          color: #FFF;
          background-color: $color_secondary;
          border-color: $color_secondary;
        }
      }
      ul.menu > li.current-menu-item > a {
        color: #FFF;
        background-color: $color_secondary;
        border-color: $color_secondary;
      }
      ul.menu > li.menu-item-has-children > a {
        padding-right: 55px;
      }
      ul.sub-menu li.current_page_item > a {
        color: $color_orange;
      }
      ul.sub-menu {
        padding: 20px 20px 5px;
      }
      ul.sub-menu a {
        &:hover, &:focus {
          color: $color_orange;
        }
        &:focus {
          outline: 1px dotted $color_orange;
        }
      }
      .submenu-toggle {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        width: 60px;
        height: 45px;
        z-index: 10;
        border: none;
        border-radius: 0 25px 25px 0;
        padding: 0 0;
        appearance: none;
        background-color: rgba(0, 0, 0, .08);
        i {
          display: inline-block;
          transition: transform ease .2s;
        }
        &.active i {
          transform: scale(-1);
        }
      }
    }

    .secondaryNav {
      background:transparent;
      color: #FFF;
      padding: 20px 30px;
      span.info {
        display: block;
        width: 100%;
        text-align: center;
        margin: 15px 0;
        font-size: 1.3rem;
        a {
          color: #FFF;
          display: inline-block;
          padding: 5px;
          text-decoration: none;
          position: relative;
          &:after {
            content:"";
            display: block;
            width: 100%;
            border-bottom: 1px dotted rgba(255,255,255,.75);
          }
        }
      }
    }
    
    &.open {
      display: block;
      animation-duration: 0.5s;
      animation-name: slideInRight;
    }
    &.closed {
      display: block;
      animation-duration: 0.5s;
      animation-name: slideOutRight;
    }


    //Mobile Sub-Menu
    .submenu-wrapper {
      display: none;
    }
    ul.sub-menu {
      li {
        margin: 3px 0;
      }
      a {
        color: $color_primary;
        display: block;
        text-decoration: none;
        padding: 5px;
      }
    }
  }

  .mobile-navigation-active {
    .MobileNavigationOverlay {
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,.5);
      z-index: 10000;
    }
  }

  #content {
    margin-top: 70px;
  }

  .hero {
    margin-top: 70px;
  }
  body.admin-bar.logged-in {
    .site-header {
      position: relative;
    }
    .hero {
      margin-top: 0;
    }
    .MobileNavigation {
      top: 32px;
    }
  }
}

@media screen and (max-width: 782px) {
  body.admin-bar.logged-in {
    .MobileNavigation {
      top: 45px;
    }
  }
}


.collapsible-wrapper {
  .collapsible {
    margin: 0 0;
    padding: 0 0;
    list-style: none;
  }
  .collapsible-title {
    appearance: none;
    border: none;
    text-decoration: none;
    background-color: tint($color_secondary, 90%);
    font-weight: 600;
    line-height: 1.3;
    display: block;
    width: 100%;
    text-align: left;
    position: relative;
    padding: 18px 50px 16px 20px;
    border-radius: 6px;
    overflow: hidden;
    z-index: 5;
    &:after {
      content:"";
      width: 38px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: $color_primary;
      transition: all ease .3s;
      z-index: -1;
    }
    .arrow {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 38px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 5;
      &:before {
        content:"";
        display: inline-block;
        width: 12px;
        height: 12px;
        position: relative;
        right: 1px;
        border-top: .15em solid #FFF;
        border-right: .15em solid #FFF;
        transform: rotate(45deg);
        transition: transform ease .3s;
      }
    }

    &:hover, &:focus {
      color: #FFF;
      &:after {
        width: 100%;
      }
    }
    &:focus {
      outline: 1px dotted $color_primary;
    }

    &[aria-expanded="true"] {
      color: #FFF;
      &:after {
        width: 100%;
      }
      .arrow:before {
        transform: translateX(1px) rotate(135deg);
      }
    }
  }
  .collapsible-item {
    margin-bottom: 20px;
  }
  .collapsible-item:nth-child(odd) {
    .collapsible-title {
      &:after {
        background: $color_secondary;
      }
    }
  }
  .collapsible-content {
    padding: 30px;
    background: #f8f8f8;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    display: none;
    p {
      margin-top: 0;
    }
    p:last-child {
      margin-bottom: 0;
    }
  }
}

.intro-section {
  padding-top: 50px;
  padding-bottom: 50px;
  position: relative;
  &:after {
    content:"";
    display: block;
    width: 55vw;
    height: 55vw;
    position: absolute;
    left: -8vw;
    bottom: 0;
    background-image: url('images/map.svg');
    background-position: left bottom;
    background-size: 80%;
    background-repeat: no-repeat;
  }
  .wrapper {
    width: 100%;
    position: relative;
    z-index: 20;
  }
  @include tab {
    padding-top: 80px;
    padding-bottom: 80px;
    .wrapper {
      width: 75%;
    }
  }
  div.buttons {
    margin-top: 30px;
  }
  .columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    .fcol {
      width: 100%;
      padding: 20px 30px;
      @include tab {
        width: 50%;
      }
    }
    .fcol.fcol1 {
      @include xl {
        padding-right: 6vw;
      }
      h2 {
        color: $color_secondary;
        font-size: 3rem;
        font-weight: 600;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin: 0 0;
      }
      p {
        font-size: 18px;
      }
    }
    .fcol.fcol2 {
      .featured-image {
        margin-bottom: 30px;
        @include tab {
          margin-bottom: 75px;
        }
        figure {
          margin: 0 0;
          position: relative;
          width: 100%;
          float:left;
          &:after {
            content:"";
            display: block;
            width: 98%;
            height: 98%;
            position: absolute;
            left: 25px;
            top: 23px;
            border-radius: 16px;
            background: $color_secondary;
          }
          img {
            width: 100%;
            height: auto;
            border-radius: 15px;
            border: 3px solid #FFF;
            float:left;
            position: relative;
            z-index: 5;
          }
        }
      }

      .h3 {
        color: $color_primary;
        font-size: 25px;
        font-weight: 600;
        line-height: 1.2;
        margin: 0 0 30px;
        span {
          display: inline-block;
          border-bottom: 2px solid $color_secondary;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero  {
    height: 75vh;
    figure {
      width: 100%;
      &:before {
        width: 100%!important;
        object-position: 65% 0!important;
      }
      img {
        object-position: 65% 0!important;
      } 
    }
    .slideCaption {
      padding-left: 30px;
      padding-right: 30px;
      .title {
        font-size: 2rem;
      }
      .text {
        font-size: 1.35rem;
      }
    }
  }
}

div.button-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 20px;
  @media screen and (max-width: 500px) {
    justify-content: center;
  }
}
.button-common {
  display: inline-block;
  text-decoration: none!important;
  appearance: none;
  border: none;
  padding: 12px 25px 11px;
  color: $color_primary!important;
  transition: all ease .3s;
  position: relative;
  text-align: center;
  border-radius: 500px;
  box-shadow: 1px 0 1px rgba(255,255,255,1) inset;
  background: linear-gradient(to bottom,  rgba(253,253,253,1) 0%,rgba(193,209,210,1) 100%);
  filter: drop-shadow(5px 10px 10px transparent);
  transition: all ease-in-out .5s;
  &:hover, &:focus {
    opacity: 1!important;
    transform: translateY(-2px);
    filter: drop-shadow(5px 10px 10px rgba(0,0,0,0.15));
  }
  &:focus {
    outline: 1px dotted $color_primary;
  }
}

/* REPEATABLE */
.repeatable {
  .flexwrap {
    display: flex;
    flex-wrap: wrap;
  }
}
.repeatable--intro {
  .wrapper {
    max-width: 1000px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .h2 {
    color: $color_secondary;
    margin: 0 0;
  }
}
.repeatable--postcard {
  .flexwrap {
    justify-content: center;
    .flexcol {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      min-height: 400px;
      position: relative;
      .inner {
        width: 100%;
      }
      &.textBlock {
        padding: 30px;
        align-items: center;
        @include tab {
          padding: 5vw 5vw;
        }
        @include mid {
          padding-top: 10vw;
          padding-bottom: 10vw;
        }
        a {
          display: inline-block;
          text-decoration: underline;
          transition: all ease .3s;
          color: $color_link;
          &:hover, &:focus {
            opacity: 0.75;
            transform: translateY(-2px);
          }
        }
      }
      &.imageBlock {
        .image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
        }
      }
    }
    

    &.details-right {
      @include tab {
        flex-direction: row-reverse;
      }
    }
    &.half {
      @include tab {
        .flexcol {
          width: 50%;
        }
      }
    }
  }
}

.repeatable--two_column_text {
  background: #F0F9F8;
  .wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .flexcol {
    width: 100%;
    padding: 20px;
    @include tab {
      width: 50%;
      padding: 30px;
    }
    .feat-image {
      margin: 0 0;
      img {
        width: 100%;
        height: auto;
      }
    }
    .details {
      p {
        margin-top: 0;
        margin-bottom: 1em;
      }
      ul {
        list-style: none;
        margin: 0 0;
        padding: 0 0;
      }
      ul > li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 20px;
        &:before {
          content: "";
          display: inline-block;
          width: 8px;
          height: 8px;
          border-radius: 100%;
          background: $color_secondary;
          position: absolute;
          top: 7px;
          left: 0;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .h2 {
      color: $color_secondary;
      margin: 0 0 10px;
    }
  }
}

.repeatable--affiliations {
  padding-top: 60px;
  padding-bottom: 60px;
  .titleDiv {
    text-align: center;
    h2 {
      color: $color_secondary;
      margin: 0 0 30px;
    }
  }
  .flexwrap {
    justify-content: center;
    gap: 5vw;
    figure {
      margin: 0 0;
      a {
        display: inline-block;
        transition: all ease .3s;
        filter: drop-shadow(4px 10px 10px transparent);
        &:hover, &:focus {
          transform: translateY(-3px);
          filter: drop-shadow(4px 10px 10px rgba(0,0,0,.2));
        }
      }
      img {
        width: auto;
        height: 80px;
      }
    }
  }
}

